# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Coverage
coverage

# Transpiled files
dist

# VS Code
.vscode
!.vscode/tasks.js

# Optional npm cache directory
.npm

# DotEnv targeted to specific environment 
.env.*

# Misc
.DS_Store
